{% extends 'base.html.twig' %}

{% block title %} Hello! {% endblock %}

{% block body %}

    {%  for message in app.flashes ("success") %}
        <p style="color: green;">{{  message  }}</p>
    {% endfor %}
    {{ form(form) }}
{% endblock %}