{% extends 'base.html.twig' %}

{% block title %}Edit QuackEntity{% endblock %}

{% block body %}
    <h1>Edit QuackEntity</h1>

    {{ include('quack_entity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('quack_entity_index') }}">back to list</a>

    {{ include('quack_entity/_delete_form.html.twig') }}
{% endblock %}
